<h1>Hello <%= name %></h1>

<% if (uploadedImage) {%>
    <h1>Image Uploaded Successfully</h1>
<% } %>

<h1>Upload Image</h1>
<form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit">
</form>

<form action="/logout" method="POST">
    <button type="submit">Log Out</button>
</form>